extends layout

block content
	.container
		.row
			.span3.bs-docs-sidebar
				ul.nav.nav-list.bs-docs-sidenav
					li
						a(href='#openbus')
							i.icon-chevron-right
							| Openbus
					li
						a(href='#node')
							i.icon-chevron-right
							| Node.js
					li
						a(href='#bootstrap')
							i.icon-chevron-right
							| Bootstrap
					li
						a(href='#github')
							i.icon-chevron-right
							| Github
					li
						a(href='#lizenz')
							i.icon-chevron-right
							| Lizenz
					li
						a(href='#impressum')
							i.icon-chevron-right
							| Impressum
			.span9
				section#openbus
					.page-header
						h1 Openbus
					p.lead
						| Ich habe Openbus als Techdemo für den 
						a(href='http://oddw.de') OpenDataDay in Wuppertal
						|  erstellt. Es ist KEIN fertiges Produkt und strenggenommen geht es hier auch nur zum Teil um Opendata.
					p
						| Die Daten zu den Abfahrtzeiten der Busse stammen aus derselben Quelle wie die Daten der 
						a(href='http://www.wsw-online.de/mobilitaet/App/index.htm') Abfahrtsmonitor-App der WSW
						|. Die API ist (zumindest öffentlich nicht) dokumentiert, ich gehe aber davon aus, dass die WSW die Daten als offen verstehen wollen wissen, sonst hätte der Server sicher zugemacht, nachdem ich zehntausende Requests auf ihn gefeuert habe... Bei allernächster Gelegenheit frage die bei den Stadtwerken mal nach, ob die Abfahrtsdaten, wie von mir angenommen, OpenDatas sind.
					p
						| Politisch wäre es aber durchaus wünschenswert, wenn die WSW ebenso wie alle anderen städtischen Töchter und die Stadt Wuppertal selber, in Zukunft dazu übergehen würde, alle vorhandenen Daten in einer Form zu veröffentlichen, die über offene und dokumentierte Schnittstellen einen Zugriff erlaubt.
					p Die Positionsdaten der Bushaltestellen kommt von Openstreetmap. die Karten und Streetview-Ansichten kommen offensichtlicherweise von Google. Die Daten von Goole sind zwar (in Maßen) umsonst, aber nicht frei!
				section#node
					.page-header
						h1 2. Node.js
					p.lead
						| Serverseitig werkelt hier 
						a(href="http://nodejs.org/") NodeJS 
						| und das Framework 
						a(href="http://expressjs.com/") Express
					p
						| Javascript und auch serverseitiges Javascript kann jedeR lernen und benutzen, sonst hätte ich das hier gar nicht hinbekommen;)
				section#bootstrap
					.page-header
						h1 Bootstrap
					p.lead
						| Clientseitig benutze ich, weil es so schön ist und ich so faul bin, 
						a(href="") Bootstrap
						|.
				section#github
					.page-header
						h1 Github
					p.lead
						| Openbus ist als komplettes Projekt auf Github:
					p.lead 
						a(href='https://github.com/Samisdat/openbus') Github Repo von Openbus
						| .
					p
						| Also fließig forken oder 
						a(href="https://github.com/Samisdat/openbus/issues") Issues tracken
						|. Die 
						a(href="https://github.com/Samisdat/openbus/blob/master/README.md") Readme
						|  könnte beim Installieren helfen.
				section#lizenz
					.page-header
						h1 Lizenz
					p.lead
						| Openbus steht unter der 
						a(href="http://opensource.org/licenses/MIT") MIT-Lizenz
						|  .
					p 
						| Natürlich nur soweit, wie ich lizensieren darf: Die Openstreetmap-Daten, die ich mit ins Git geworfen habe, sind mehr Cache als sonst was. Nur mit diesen Daten kann man sinnvoll einen Fork von Openbus starten.
					p
						| Und selbstverständlich ändern vorgecachte Openstreetmap-Daten ihre Lizenz nicht, sondern bleiben weiter Daten von 
						a(href="http://www.openstreetmap.org/) OpenStreetMap
						|  - Veröffentlicht unter 
						a(href="http://opendatacommons.org/licenses/odbl/") ODbL
						|  .
				section#impressum
					.page-header
						h1 Impressum
					p.lead
						| Ist diese kleine Demo ein Telemedium? Ich weiß es nicht, aber für den Fall der Fälle:
					p
						| Ich heiße 
						br
						strong Bastian Sackermann
					p 
						|wohne im
						br
						strong
							| Heimatplan 12
						br
						| in
						br
						strong
							| 42117 Wuppertal
						br
						| Mails gerne an 
						br
						strong
							| bastian[äht]sackermann.eu
