doctype 5
html
  include include/head
  body(data-spy='scroll', data-target='.bs-docs-sidebar')
    include include/navi
    .container
      .row
        div#content.span12
            div#map.filter
    include include/footer
    script(src="http://maps.googleapis.com/maps/api/js?libraries=geometry&key=AIzaSyDBoyVRJC-572Wj7Pfgf10Z9OjRHHDkgOE&v=3.exp&sensor=true")
    script(src='/bootstrap/docs/assets/js/jquery.js')
    script(src='/javascripts/busstops-unfiltered.js')
    script(src='/javascripts/filter.js')