doctype 5
html
	include include/head
	- bodyClass = (bodyClass === undefined)?'':bodyClass;
	body(class='#{bodyClass}', data-spy='scroll', data-target='.bs-docs-sidebar')
		include include/navi
		block content
		block footer
			include include/footer
		include include/javascript