doctype 5
html
	include include/head
	body(data-spy='scroll', data-target='.bs-docs-sidebar')
		include include/navi
		block content
		block footer
			include include/footer
		include include/javascript