footer.footer
  .container
    p
      | Build by 
      a(href='http://twitter.com/samisdat', target='_blank') @samisdat
      |  as a Open Data demo for the   
      a(href='http://www.oddw.de/', target='_blank') Open Data Day Wuppertal
      | .
    p
      | Sourcecode is licensed under 
      a(href='http://creativecommons.org/licenses/by/3.0/') CC BY 3.0
      |  and can be found at  
      a(href='https://github.com') Github
      | .
    ul.footer-links
      li
        a(href='http://devtal.de') /dev/tal
      li.muted ·
      li
        a(href='http://sackermann.eu') Bastian Sackermann