footer.footer
	.container
		p
			| Build by 
			a(href='http://twitter.com/samisdat') @samisdat
			|	as a Open Data demo for the	 
			a(href='http://www.oddw.de/') Open Data Day Wuppertal
			| .
		p
			| Sourcecode is licensed under 
			a(href='http://opensource.org/licenses/MIT') MIT Licence
			|	and can be found at	
			a(href='https://github.com/Samisdat/openbus') Github
			| .
		ul.footer-links
			li
				a(href='http://devtal.de') /dev/tal
			li.muted ·
			li
				a(href='http://twitter.com/bsackermann') Bastian Sackermann