meta(charset='utf-8')
title Getting · Bootstrap
meta(name="apple-mobile-web-app-capable", content="yes")
link(href='/bootstrap/docs/assets/css/bootstrap.css', rel='stylesheet')
link(href='/bootstrap/docs/assets/css/bootstrap-responsive.css', rel='stylesheet')
- 	isText = false;
- if(bodyClass === 'text'){isText = true;}
if isText === true
	link(href='/bootstrap/docs/assets/css/docs.css', rel='stylesheet')
link(href='/bootstrap/docs/assets/js/google-code-prettify/prettify.css', rel='stylesheet')
link(href='/stylesheets/application.css', rel='stylesheet')
link(href='/smartbanner/jQuery.smartWebBanner.min.css', rel='stylesheet')
//if lt IE 9
	script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

meta(name='viewport', content='user-scalable=0, initial-scale=1.0')
link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/images/icon/apple-touch-icon-144-precomposed.png')
link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/images/icon/apple-touch-icon-114-precomposed.png')
link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/images/icon/apple-touch-icon-72-precomposed.png')
link(rel='apple-touch-icon-precomposed', href='/images/icon/apple-touch-icon-57-precomposed.png')

link(href="/images/startup/apple-touch-startup-image-320x460.png", media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)", rel="apple-touch-startup-image")
link(href="/images/startup/apple-touch-startup-image-640x920.png", media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)", rel="apple-touch-startup-image")
link(href="/images/startup/apple-touch-startup-image-640x1096.png", media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)", rel="apple-touch-startup-image")
link(href="/images/startup/apple-touch-startup-image-768x1004.png", media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)", rel="apple-touch-startup-image")
link(href="/images/startup/apple-touch-startup-image-748x1024.png", media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)", rel="apple-touch-startup-image")
link(href="/images/startup/apple-touch-startup-image-1536x2008.png", media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)", rel="apple-touch-startup-image")
link(href="/images/startup/apple-touch-startup-image-1496x2048.png", media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)", rel="apple-touch-startup-image")
link(rel='shortcut icon', href='/images/icon/favicon.png')
